ul{
width:880px;
background-color: orange;
overflow:hidden;




}

li {
  background-color: purple;
  display: block;
  margin:10px;
  width: 200px;
  height: 200px;
  float:left;

}


.anulador{
  clear:both;
}

#01{
  background-image:
  background-size: 
}
