body{

  text-align: center;
  background-color: #BA023A ;

}


ul{

  margin: 0 5%;
}


li {
  background-color: #FCF3CF;
  display: block;
  margin:20px;
  width: 200px;
  height: 200px;
  float:left;
  border-radius: 20%;
  background-size: 100%;


}






#m00{
  background-image: url(indice/a01.png);



}
#m01{
  background-image: url(indice/a02.png);
}
#m02{
  background-image: url(indice/a03.png);

}
#m03{
  background-image: url(indice/a04.png);
}
#m04{
  background-image: url(indice/a05.png);
}
#m05{
  background-image: url(indice/a06.png);
}

#m07{
  background-image: url(indice/a07.png);

}
#m08{
  background-image: url(indice/a08.png);

}

#m09{
  background-image: url(indice/a09.png);

}

#m10{
  background-image: url(indice/a10.png);

}

#m11{
  background-image: url(indice/a11.png);

}

#m12{
  background-image: url(indice/a12.png);

}

#m13{
  background-image: url(indice/a13.png);

}

#m14{
  background-image: url(indice/a14.png);

}

#m15{
  background-image: url(indice/a15.png);

}

#m16{
  background-image: url(indice/a16.png);

}

#m17{
  background-image: url(indice/a17.png);

}

#m18{
  background-image: url(indice/a18.png);

}

#m19{
  background-image: url(indice/a19.png);

}

#m20{
  background-image: url(indice/a20.png);

}

#m21{
  background-image: url(indice/a21.png);

}

#m22{
  background-image: url(indice/a22.png);

}

#m23{
  background-image: url("indice/a23.png");

}

#m24{
  background-image: url(indice/a24.png);

}

#m25{
  background-image: url(indice/a25.png);

}

#m26{
  background-image: url(indice/a26.png);

}
