body{
  font-family:helvetica, sans-serif;
  margin:0;
  padding:0;
  background-color:#222;
}




.barra_01{
  position:fixed;
  background-color:black;
  filter:opacity(50%);
  height:50px;
  width:100%;
  top:0px;

}

.logo{
  margin-top:5px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:5px;
}

ul{
  list-style:none;
  color:#FFF;
  position:fixed;
  margin:0;
  padding:0;
  top:8px;
}

li{
  text-decoration:none;
  display:block;
  float:left;
  padding:12px;
  color:#FFF;
  margin:3px;
}

a{
  color:#CCC;
  text-decoration:none;
}

a:hover{
  color:#FFF;
  text-decoration:underline;
}

#links{
  float:left;
  left:80px;
}

#xarxes{
  right:12px;
}

.interesants{
  position:static;
  font-size:22px;
  color:#FFF;
  left:20px;
  margin-top:64px;
  margin-left:20px;
  clear:both;
}

.pendents{
  position:static;
  font-size:22px;
  color:#FFF;
  left:21px;
  margin-top:65px;
  margin-left:20px;
  clear:both;
}

.documentals{
  margin-left:20px;
  margin-top: 11px;
  width:170px;
  border-radius:5px;
  float: left;
  position: static;
}

.titol{
  padding:0;
  color:#CCC;
  font-size:14px;
}

.any{
  color:#CCC;
  font-size:11px;
  float:left;
}

.tipus{
  color:#CCC;
  font-size: 11px;
}

.grey{
  margin-left:22px;
  margin-top:10px;
  width:175px;
  border-radius:5px;
  float:left;
  position:static;
  filter:grayscale(100%);
}
.img_koya{

  margin-left:30px;
  margin-top:50px;
}
.img_sabes{

  margin-left:30px;
  margin-top:50px;
}

.img_earth{

  margin-left:30px;
  margin-top:50px;
}
.img_helvetica{

  margin-left:30px;
  margin-top:50px;
}

.img_sicko{

  margin-left:30px;
  margin-top:50px;
}
