body{
  background-color:#222;
  font-family:Helvetica, Sans-Serif;

}

.cap{
  background-color:black;
  opacity: 50%;
  height: 50px;
  color:white;
  }


  #logo{
    margin-left:20px;
    margin-right:20px;
    margin-top:5px;
    margin-bottom:5px;
    height:40px;
}


.docint{
  margin-top:15px;
  color:white;

}
#img{
  width:175px;
  margin-radius:5px;
  margin-left:20px;
  display:inline;
  margin-bottom:20px;
  imatges-border:5px;



}
#img2{
  width:175px;
  margin-radius:5px;
  margin-left:20px;
  display:inline;
  margin-bottom:20px;

}
#img4{
  width:175px;
  margin-radius:5px;
  margin-left:20px;
  display:inline;
  margin-bottom:20px;
  webkit-filter:grayscale(100%);
  moz-filter:grayscale(100%);
  filter:grayscale(100%);

}
#img5{
  width:175px;
  margin-radius:5px;
  margin-left:20px;
  display:inline;
  margin-bottom:20px;

  moz-filter:grayscale(100%);
  filter:grayscale(100%);

}


h2{
  margin-left:20px;
  color:white;
}

.blancnegre{
  webkit-filter:grayscale(100%);
  moz-filter:grayscale(100%);
  filter:grayscale(100%);
}
