body {
  margin-left:200;
  padding:0;
  font-size:19px;
  line-height: 24px;
  background:white;
  width:80%;
}

#menu {

  width:650px;
  float:right;
}

#menu li{
  border-right: solid 3px #000;
  width:90px;
  margin:10px;
  padding:10px;
  float:left;
}

#lateral{
  width:20%;
  float:right;
  clear:both;
}
#lateral li{
  border-bottom: solid 3px #000;
  margin: 0px 20px;
 padding: 10px 0px;
}


ul{
  margin:0;
  padding:0;
}

li{
margin:0;
padding:0;
list-style-type: none;
}


a:link{
  color:black;

}
a:visited{

}

a:hover{

}

a:active{

}

#grup{
width:49%;
float: left;
margin:5px;
}
#txt{

  margin:0px;
  padding:0px;
  width:20%;
  height:400px;
  padding: 20px 10px 10px 10px;
}
#grup:hover #txt{
  width:97.50%;
  transition:2s;

}
h1{
  margin:10px;
}

  h2,h3,h4{
  margin:0px;
  padding:0px;

}
#contingut{
  width:80%;

}
#info{
  width:100%;
  margin:80px auto;

}
#informacio{
  width:60%;
  margin-top: 30px;
}
