body {
  margin: 90px;

  padding: 0;

}

div {
  overflow: visible;
  position: relative;
}

.esquerra {
  float: left;
  clear: left;
}


.dreta {
  float: right;
  clear: right;
}

.cap {
  width: 450px;
  height: 700px;
  background-color: #DEBC81;
  margin: 0 auto;
  border-radius: 200px 200px 300px 300px;

}

.pel {
  height: 150px;
  background-color: black;
  border-radius: 150% 150% 0 0;
}

.moño{
  width:300px;
  height:300px;
  background:black;
  border-radius: 50%;
  bottom:150px;
  left:80px;
}



.ulls {
  height: 320px;
  background-color:;
  clear: both;
}

.cajacelles {
  top:40px;
  height: 40px;
  background-color: ;
  clear: both;
  margin: 0;

}

.cellaesquerra {
  width:200px;
  height: 20px;
  background: ;
  margin: 10px;
  float:left;
  border-top: solid 20px black;
  border-radius: 30% / 30px 10px 0 0;



}

.celladreta {
  width:200px;
  height: 20px;
  background: ;
  margin: 10px;
  float:right;
  border-top: solid 20px black;
  border-radius: 30% / 10px 30px 0 0;

}

.cajaparpelles{
  height: 80px;
  width: 75%;
  background-color:#DEBC81;
  margin:0 auto;
  top:50px;
}

.parpellaesquerra{
  height: 100px;
  width:100px;
  border-radius: 75% 0;
  background-color:white;
  transform: rotate(45deg);
  float: right;
}

.parpelladreta{
  height: 100px;
  width:100px;
  border-radius: 75% 0;
  background-color:white;
  transform: rotate(45deg);
  float: left;
}

.pestanyes {
  height: 100px;
  background-color:;
  margin: 0 75px;
}

.pestanya {
  height: 60px;
}

.cajairisos {
height:50px;
width:65%;

margin: 0 auto;
background:;
top:20px;


}

.irisesquerra{
height:50px;
width:50px;
background:#352A18;
border-radius: 50%;

}

.irisdreta{
  height:50px;
  width:50px;
  background:#352A18 ;
  border-radius: 50%;
  float: right;
  left: 76px;
}

.cajapupiles {
height:50px;
width: 58%;
margin: 0 auto;

background: ;
bottom:30px;
}

.pupilaesquerra {
  height:20px;
  width: 20px;
  background: black;
  border-radius: 50%;
  top: 15px;
  float: left;

}

.pupiladreta {
height:20px;
width: 20px;
background: black;
border-radius: 50%;
top: 15px;
float: right;
}



.cajaorelles {
  height:100px;
  width: 600px;
  background: ;
  bottom: 190px;
  left:-15%;

}

.orellaesquerra {
  height: 150px;
  width:50px;
  background: #DEBC81;
  border-radius: 40%;
  bottom:20px;
  left:40px;
}

.orelladreta {
  height: 150px;
  width:50px;
  background: #DEBC81;
  border-radius: 40%;
  bottom:170px;
  left:500px;
}

.aroizquierdo{
  height:150px;
  width:100px;
  background:;
  border-radius:50%;
  border: solid 5px #9A9A9A;
  top: -190px;
  right: 50px;
}
.aroderecho{
  height:150px;
  width:100px;
  background:;
  border-radius:50%;
  border: solid 5px #9A9A9A;
  top: -350px;
  left: 400px;

}

.cajanariz {
  height:65px;
  width:65px;
  background-color:#B59A6A  ;
  left:200px;
  bottom:90px;
  border-radius: 20px 20px 10px 10px;
}


.pearcing{
  height:10px;
  width:10px;
  background:#9A9A9A ;
  bottom:530px;
  border-radius: 50%;
  left:200px;
  position: relative;

}

.tragus{
height:10px;
width:10px;
background:#625F59;
bottom:550px;
border-radius: 50%;
}
.foratnas {

}

.boca {
width:200px;
height:75px;
background: red;
top:-445px;
left:130px;
border-radius: 10px 10px 40px 40px;
}
