body{
  background-color: red;

}
/*móbil vertical*/
@media screen and (max-width:640px)and (orientation:portait){

  body{
    background-color: green;

  }

}
/*mobil apaisat*/
@media screen and (max-width:640px) and (orientation:landcape) {

  body{
    background-color: yellowgreen;

  }

}

/*tablets vertical*/
@media screen and (max-width:640px) and (orientation:portait) {

  body{
    background-color: yellow;

  }

  @media screen and (max-width:641px) and(orientation:landcape) {

    body{
      background-color: orange;

    }


/*escriptori*/
@media screen and (max-width:640px) {

  body{
    background-color: pink;

  }

}
