body{
  font-family: 'Kanit', Arial,Helvetica,sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.contingut{
  background-color:#F7D358;
  height: 100%;
  width: 100%;
}

.paginalogo h1{
  text-align: center;
  font-size:4em;
  line-height: 3em;
  font-weight: 720;
  margin-top: 290px;
}

.paginalogo{
  position: fixed;
  top:0px;
  left:0;
  right:0;
  bottom: 0px;
  background-color:#F7D358;

}
.cos{
  position: fixed;
  top:80px;
  left:0;
  right:0;
  bottom: 80px;
  background-color: white;
  overflow-y: auto;
}

.peu{
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  height:80px;
  background-color:#F7D358;
  text-align: center;
}

.boto{
  position: fixed;
  bottom:140px;
  right:40px;
  height:60px;
  width:60px;
  border-radius: 30px;
  background-color: green;

}

.boton{
  width: 50px;
  height: 50px;
  background: ;

  display: inline-block;
  margin: 0 auto;
  margin-top: 15px;
  background-repeat: no-repeat;
  background-position: center;
  }

  #b1{
      background-image:url(../img/casa.svg);
  }

  #b2{
      background-image:url(../img/camareros.svg);
  }

  #b3{
      background-image:url(../img/buscador.svg);

  }

  #b4{
      background-image:url(../img/ajustes.svg);

  }

.contenedorsecciones{
  background-color:;
  width: 400px;
  height: 340px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30%;

}

  .secciones{
    background-color: #F7DC6F;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
  }
#s1{
  background-image:url(../img/bebidas.svg);
}
#s2{
  background-image:url(../img/bocadillos.svg);
}
#s3{
  background-image:url(../img/tapas.svg);
}
#s4{
  background-image:url(../img/postres.svg);
}
