.htmlNoPages .gwd-motion-path-11mc-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":false, "sections":[ {
      "controlPoints": ["-464.67px", "-88.33px", "-642.24px", "33.27px", "1456.94px", "-99.02px", "95px", "381px"], "startTimeMs": 0, "endTimeMs": 1800, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 1.8s linear 0s 1 normal forwards running gwd-motion-path-11mc-keys-x;
  transform: translate3d(-464.67px, 0px, 0px);
}
@keyframes gwd-motion-path-11mc-keys-x {
  0% {
    transform: translate3d(-464.67px, 0px, 0px);
  }
  2.5% {
    transform: translate3d(-459.22px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3365, 0.3299, 0.6661, 0.6672);
  }
  42.5% {
    transform: translate3d(192.96px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3313, 0.335, 0.6566, 0.6775);
  }
  62.5% {
    transform: translate3d(512.62px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4925, -9.7666, 0.5953, -4.8403);
  }
  72.5% {
    transform: translate3d(504.71px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3482, 0.317, 0.6715, 0.6626);
  }
  100% {
    transform: translate3d(95px, 0px, 0px);
  }
}
.htmlNoPages .gwd-motion-path-11mc-anim-y {
  animation: 1.8s linear 0s 1 normal forwards running gwd-motion-path-11mc-keys-y;
  transform: translate3d(0px, -88.33px, 0px);
}
@keyframes gwd-motion-path-11mc-keys-y {
  0% {
    transform: translate3d(0px, -88.33px, 0px);
    animation-timing-function: cubic-bezier(0, 0.6879, 0.6287, 0.7331);
  }
  37.5% {
    transform: translate3d(0px, -3.58px, 0px);
    animation-timing-function: cubic-bezier(0.4744, 0.1834, 0.8661, 0.4851);
  }
  65% {
    transform: translate3d(0px, 95.46px, 0px);
  }
  67.5% {
    transform: translate3d(0px, 133.37px, 0px);
  }
  70% {
    transform: translate3d(0px, 168.25px, 0px);
    animation-timing-function: cubic-bezier(0.2466, 0.4025, 0.6339, 0.7118);
  }
  100% {
    transform: translate3d(0px, 381px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}