

body{
  font-family: Arial,Helvetica,Sans Serif;

  margin-right: 20px;
  background: white;
  font-size:2em;

}



div{
  background-image: url(img/fonsgris.png);
  background-repeat: no repeat;
}

#contenidor{
  background-image: none;


  margin: 0 auto;
  width: 800px;
  font-size: 20px;
  text-align: justify;
}

img{
  width: 150px;

}



h1{
  font-family: Georgia, Times;
  font-family: Helveica, Arial, Sns-serif;
  font-family: 'Baloo Bhai', cursive;
  font-size: 20px;
  font-size:2em;
}
p{

  display: block;

}
.derecha{

  float:right;
  margin-left: 10px;
}
.izquierda{

  float: left;
  margin-right: 10px;
}
.c1{

  float:right;
  width: 350px;
}
.c2{

  float:left;
  width: 350px;
}
