
body{
  margin:0;
  padding:0;
}


div{
  width:200px;
  height:200px;
  background-color: red;
  margin:10px;
  font-size:96px;

}

.prova{
  background-color: blue;
  position:absolute;
  top:40px;
  left:400px;

}

.ff{
  background-color: orange;
  position:absolute;
  top:60px;
  left:420px;

}
